.image {
  margin-top: 16px;
}

.description {
  margin-top: 16px;
  margin-left: 16px;
}

.btn-red {
  color: #FDFFFF;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#B10F2E, #903749);
  transition: background 0.3s ease;
  border: 1px solid #B10F2E;
}

.btn-red:hover {
  background: linear-gradient(#903749, #53354a);
  color: white;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-left: 16px;
}

.btn-ghost:hover {
  color: #4A4A4A;
  opacity: 1;
}


.btn-ghost-noborder {
  color: #4A4A4A;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-noborder:hover {
  color: #4A4A4A;
  opacity: 1;
}


#bartender-star {
  margin-top: 0px;
  margin-left: 8px;
}

#bartender-specialty {
  font-size: 24px;
  font-style: italic;

}

#bartender-price {
  font-size: 2rem;
  font-weight: bold;
}

.cards-reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}


.form-small {
  width: 200px;

}
