<h1> Update your Booking </h1>


<%= form_for @booking do |f|%>
  <%= f.label(:start_date, "Name") %>
  <%= f.date_field :start_date%> <br>
  <%= f.submit "Add image", class: "btn btn-primary" %>
<% end %>