.info {
  position: fixed;
  top: 60px;
  right: 16px;
  z-index: 1000;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  background-color: #3D753F;
  border-color: #316C2B;
  width: 200px;
}

